<mat-sidenav-container
  (backdropClick)="toggleNav()"
  class="main-container"
  fxFlexFill
>
  <mat-sidenav [mode]="mode" [opened]="navBarOpen">
    <mat-nav-list>
      <a *ngFor="let route of routes" mat-list-item [routerLink]="route.path">
        <fpa-margin-icon [iconName]="route.icon"></fpa-margin-icon
        >{{ route.title }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column">
    <fpa-toolbar (navToggle)="toggleNav()"></fpa-toolbar>
    <div fxFlex>
      <router-outlet></router-outlet>
    </div>
    <footer fxLayout="column">
      <div><hr /></div>
      <p fxFlexAlign="center">Copyright &copy; 2020 Ajx Inc</p>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
