<mat-sidenav-container class="main-container">
  <mat-sidenav mode="side" [opened]="navBarOpen">
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <fpa-margin-icon [iconName]="'home'"></fpa-margin-icon>Home
      </a>
      <a mat-list-item routerLink="/albums">
        <fpa-margin-icon [iconName]="'folders'"></fpa-margin-icon>Albums
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <fpa-toolbar (navToggle)="toggleNav()"></fpa-toolbar>
    <div style="margin-left: 10px;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
